{% extends 'base.html' %}


{% block content %}
{% if not user.is_authenticated %}
<script>
    window.location.href = "{% url 'account_login' %}";
</script>
{% endif %}

<div class="container text-center mt-5">
    <h1>MyChat</h1>
    {% if user.is_authenticated %}
    <h3>Welcome {{ user.username }} !!!</h3>
    <div class="container">
        <h4>Meus contatos:</h4>
        {% for profile in profiles %}
        {% if profile.name != user.username %}
        <a class="list-unstyled" href="{% url 'redirect_chat' user.username profile.name %}">
            <li class="border  p-3  bg-dark text-white">
                {{ profile.name }}
            </li>
        </a>
        {% endif %}
        {% endfor %}

    </div>
    {% else %}
    <!--
    <h3>Bem-vindo(a) ao MyChat!</h3>
        <p>Após fazer o login, você poderá:</p>
        <ul class="list-group list-group-flush text-left">
            <li class="list-group-item">Ter conversas animadas</li>
            <li class="list-group-item">Conectar-se com amigos</li>
            <li class="list-group-item">Compartilhar fotos, vídeos e memórias</li>
            <li class="list-group-item">Manter-se atualizado com as últimas notícias de seus grupos</li>
            <li class="list-group-item">E muito mais...</li>
        </ul>
        <a href="{% url 'account_login' %}" class="btn btn-primary mt-3">Fazer login agora</a>
    -->

    {% endif %}
</div>

{% endblock content %}