{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Search</h2>
    <form id="searchForm" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" id="searchInput" placeholder="Enter your search" name="searched">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="mt-4">
        <strong>You searched for:</strong> <span id="searchOutput"></span>
    </div>
</div>
{% endblock content%}
{% block extra_body %}
<script>
    document.getElementById('searchForm').addEventListener('submit', function(e) {
        e.preventDefault();
        const formData = new FormData(event.target);

    fetch("{% url 'search_page' %}", {
      method: "POST",
      body: formData,      
    })
    .then((response)=>{if (response.ok){return response.json();}
    }).then(data =>{
        console.log(data);
    }).catch((error)=>{
        alert("Problema ao pesquisar");
        console.erro(error.message);
    });
        const userInput = document.getElementById('searchInput').value;
        document.getElementById('searchOutput').textContent = userInput;
    });
</script>
{% endblock extra_body %}