.buttons {
  background-color: #002f5d !important;
  color: white;
}

.p-2.bg-primary {
  background-color: #002f5d !important;
}
.home_button {
  color: white;
}

#chat-content {
  background-color: aliceblue;
  height: 400px;
  overflow-y: auto;
}

#chat-content::-webkit-scrollbar {
  width: 5px;
}

#chat-content::-webkit-scrollbar-track {
  background: #f4f4f4;
}

#chat-content::-webkit-scrollbar-thumb {
  background-color: #002f5d;
}

#chat-content {
  scrollbar-width: thin;
}

.chat-item img {
  width: 60px;
  height: 60px;
}

.p-2.bg-secondary,
.p-2.bg-primary {
  max-width: 60%;
}

.active-chat {
  background-color: #002f5d !important;
  color: white !important;
}

.chat-item {
  cursor: pointer;
  overflow: hidden;
}

.notification {
  background-color: #25d366;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-left: 10px;
  right: 20px;
  position: absolute;
}

.chat_name {
  overflow: hidden;
  color: black;
}

#current_chat img {
  height: 40px;
}
