{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Set Password" %}{% endblock head_title %}

{% block content %}
<div class="container ml-5">
    <h1>{% trans "Set Password" %} </h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {% bootstrap.form form %}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
</div>
{% endblock content %}
