{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block content %}

<h1>{% trans "Password Reset" %}</h1>
{% if user.is_authenticated %}
<strong>Nota:</strong> Voce esta logado como {{ user }}.
{% endif %}

<p>
    Esqueceu sua senha? Digite seu endereço de e-mail abaixo e enviaremos
    um e-mail permitindo que você o redefina.
</p>

<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-success" type="submit" value="{% trans 'Reset My Password' %}"/>
</form>

<p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock content %}
